.search-button {
  width: 400px
}
.search-button:focus {
  outline: none
}
.v-btn {
  text-transform: capitalize !important;
}
::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

.troplo-nav {
  font-family: "Roboto", sans-serif;
}

.troplo-header {
  -webkit-font-smoothing: antialiased !important;
  background: -webkit-radial-gradient(#0179f3, #0190ea) !important;
}
.troplo-header-title {
  -webkit-font-smoothing: antialiased !important;
  font-family: "JetBrains Mono", sans-serif !important;
  font-weight: 450;
  elevation: 0 !important;
  font-size: 15rem;
  font-style: italic;
  text-shadow: none !important;
  color: -webkit-radial-gradient(#0179f3, #0190ea) !important;
  -webkit-background-clip: text;
}
.troplo-title {
  font-weight: 500;
  background: -webkit-radial-gradient(#0179f3, #0190ea);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.theme--dark.v-sheet {
  overflow: auto !important;
  color: #ffffff;
}
.card {
  overflow: hidden;
}

.v-calendar-daily_head-day {
  border-right: 1px transparent !important;
}

.day .v-calendar-daily_head-weekday {
  visibility: hidden !important;
}

.day .v-calendar-daily_head-day-label {
  display: none !important;
}

div .theme--dark.v-calendar-events .v-event-timed {
  border: 1px solid #181818 !important;
  border-radius: 5px !important;
  margin: 2px;
}

.day .v-event {
  width: 98.8% !important;
}


.vuecal__cell {
  height: 50px !important;
}

div .theme--dark.v-calendar-daily {
  border: 1px transparent !important;
}

div .theme--dark.v-calendar-daily .v-calendar-daily__day {
  border: 1px transparent !important;
}

.light::-webkit-scrollbar {
  width: 15px !important;
}

.light::-webkit-scrollbar-track {
  background: #e6e6e6 !important;
  border-left: 1px solid #dadada !important;
}

.light::-webkit-scrollbar-thumb {
  background: #b0b0b0 !important;
  border: solid 3px #e6e6e6 !important;
  border-radius: 7px !important;
}

.light::-webkit-scrollbar-thumb:hover {
  background: black !important;
}

::-webkit-scrollbar {
  width: 15px !important;
}

::-webkit-scrollbar-track {
  background: #151515 !important;
}

::-webkit-scrollbar-thumb {
  background: #3e3e3e !important;
  border: solid 3px #202020 !important;
  border-radius: 7px !important;
}

::-webkit-scrollbar-thumb:hover {
  background: white !important;
}
